[submodule "packages/OpenProjectPlanner"]
	path = packages/OpenProjectPlanner
	url = git@github.com:TheWorldOfSoftware/OpenProjectPlanner.git
[submodule "packages/OpenConfig"]
	path = packages/OpenConfig
	url = git@github.com:TheWorldOfSoftware/OpenConfig.git
