[submodule "packages/OpenProjectPlanner"]
	path = packages/OpenProjectPlanner
	url = git@github.com:TheWorldOfSoftware/OpenProjectPlanner.git
[submodule "configurations"]
	path = configurations
	url = git@github.com:TheWorldOfSoftware/OpenConfig.git
