[submodule "packages/configs"]
	path = packages/configs
	url = git@github.com:TheWorldOfSoftware/configs.git
[submodule "projects/openproject"]
	path = projects/openproject
	url = git@github.com:TheWorldOfSoftware/openproject.git
[submodule "projects/gatekeeper"]
	path = projects/gatekeeper
	url = git@github.com:TheWorldOfSoftware/gatekeeper.git
[submodule "projects/datacontrol"]
	path = projects/datacontrol
	url = git@github.com:TheWorldOfSoftware/datacontrol.git
[submodule "template"]
	path = template
	url = git@github.com:TheWorldOfSoftware/template.git
[submodule "packages/common"]
	path = packages/common
	url = git@github.com:TheWorldOfSoftware/common.git
